* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    padding-top: 10px;
}

.accent-color {
    background-color: #2EFE9A;
}

.main-wrapper {
    max-width: 900px;
    width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-banner {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* background: linear-gradient(1800deg, #DBD8D3 100%, #CECECF 0%); */
    background: linear-gradient(#DBD8D3, #CECECF);
}

.header-badge {
    background-color: #D5D5D3;
    padding: 8px 12px;
    border-radius: 20px;
    margin-left: -8px;
    width: fit-content;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.5;
}

.header-badge-banner {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px 12px 8px 30px;
    border-radius: 20px;
    margin-left: -30px;
    width: fit-content;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.5;
}

.header-subheadline {
    padding-bottom: 15px;
    font-weight: 500;
}

.profile-image {
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
}

.profile-image-banner {
    height: 250px;
    object-fit: cover;
    border-radius: 0 0 0 20px;
    z-index: 10;
}

.header-personal-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    max-height: 230px;
}

.header-personal-data-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap: 5px;
    margin: 10px;
    max-height: 230px;
}

.cv-main {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cv-row__secondary {
    min-width: 210px;
    width: 210px;
}

.cv-section {
    margin: 30px 0;
}

.cv-section h2 {
    padding-bottom: 10px;
    padding-left: 90px;
    font-size: 20px;
}

.cv-section h3 {
    margin-bottom: 10px;
}

.cv-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px 0;
}

.cv-section-wrapper span {
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: fit-content;
    color: #000;
    text-decoration: none;
}

.cv-item-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cv-item {
    display: flex;
    flex-direction: row;
}

.cv-item-left {
    width: 90px;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.cv-item-left .timeline-marker {
    flex-grow: 1;
    background-color: #ccc;
    width: 2px;
    margin: 5px 10px;
    border-radius: 4px;
}

.cv-item-right {
    background-color: #f5f5f5;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.cv-item-right h3 {
    margin-bottom: 5px;
}

.cv-item-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 15px;
}

.cv-item-skills span {
    background-color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.cv-item-skills__no-margin {
    margin-top: 0;
}

.cv-item-description {
    margin-top: 15px;
}

.cv-section-wrapper-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.cv-section-wrapper-content span {
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: fit-content;
}


.u-headline-1 {
    font-size: 40px;
    font-weight: 600;
}

.u-text-secondary {
    color: #888;
}

h2, h3 {
    font-weight: 600;
}

.opacity-0 {
    opacity: 0;
}

.contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.link-img {
    width: 30px;
}